@import url("../../App.css");

.ContainerBot{
    display: flex;
    margin-bottom: 10px;
    padding-left: 6%;
}
.MessageBot{
    border: 3px solid #13A5DF;
    background-color: #13A5DF;
    padding: 10px 10px;
    width: none;
    border-radius: 20px;
    max-width: 70%;
}
.MessageBot p{
    margin: 0 0;
    width: auto;
    font-size: 17px;
}